<h3>Publications</h3>
<table class="table table-striped <%= dom_class(presenter) %> attributes" <%= presenter.microdata_type_to_html %>>
  <thead>
    <!-- <tr><th><%= t('.attribute_name_label') %></th><th><%= t('.attribute_values_label') %></th></tr> -->
  </thead>
  <tbody>
<% presenter.citation.each do |pub| %>
  <tr><td>
    <%= iconify_auto_link(pub) %>
  </td></tr>
<% end %>
</tbody>
</table>
