<% provide :page_title, @presenter.page_title %>
<div itemscope itemtype="http://schema.org/CreativeWork" class="row">
  <div class="col-xs-12">
    <header>
      <%= render 'work_title', presenter: @presenter %>
      <%= @presenter.university.first unless @presenter.university.nil? %>
      <%= @presenter.discipline.first unless @presenter.discipline.nil? %>
    </header>

    <span class="state state-<%= @presenter.workflow.state %>"><%= @presenter.workflow.state_label %></span>
  </div>
  <div class="col-sm-8">
    <%= render 'about', presenter: @presenter %>
    <%= render 'contact', presenter: @presenter %>
    <%= render 'metadata', presenter: @presenter %>
    <%= render 'publications', presenter: @presenter %>
  </div>
  <div class="col-sm-4">
    <%= render "show_actions", presenter: @presenter %>
    <%= render 'representative_media', presenter: @presenter %>
    <%= render 'location', presenter: @presenter %>
    <%= render 'social_media' %>
    <%= render 'citations', presenter: @presenter %>
  </div>
</div>
